<div class="header-main">
  <app-navigation color="text-white" img="https://i.ibb.co/XWLQ47Q/Group-8.png" marg="ml-20"></app-navigation>

  <div class='flex flex-col items-center mt-12 text-white'>
    <h1 class="text-4xl my-6">Everything You Love About Coffee</h1>
    <img src='https://i.ibb.co/TrttjsQ/Beans-logo-1.png' alt='logo'>
    <p class="text-xl mb-4">We makes every day full of energy and taste</p>
    <p class="text-xl mb-4">Want to try our beans?</p>
    <button
      class="text-white border border-white-500 hover:bg-white-500 hover:text-black active:bg-white font-bold uppercase text-sm px-6 py-2 rounded outline-none focus:outline-none mt-6 mr-1 mb-1 ease-linear transition-all duration-150"
      routerLink="/about-page">More</button>
  </div>

</div>
