<div class="flex justify-center w-9/12 mx-auto text-center mt-16">
  <div class="flex items-center">
    <img src="{{prodImg}}" alt="cofee" class="mx-6">
  </div>
  <div class="flex flex-col items-center w-3/6">
    <h4 class="text-2xl"> {{prodName}}</h4>
    <img src="https://i.ibb.co/mhgFLwT/Beans-logo.png" alt='logo' class="m-6 ">
    <p>Extremity sweetness difficult behaviour he of. On disposal of as landlord horrible.</p>
    <p>Afraid at highly months do things on at. Situation recommend objection do intention
      so questions. </p>
    <p>As greatly removed calling pleased improve an. Last ask him cold feel
      met spot shy want. Children me laughing we prospect answered followed. At it went
      is song that held help face.</p>
  </div>
</div>
<div class="flex justify-center">
  <hr class="border w-1/4  m-4">
</div>
